$black: #2D3436;
$purple: #6C5CE7;
$yellow: #FDCB6E;
.ico {
    height: 40px;
    width: 40px;
    background: #f0f0f0;
    border-radius: 15px;
    cursor: pointer;
}
.ico2 {
    height: 40px;
    width: 40px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: darkred;
        filter: brightness(5);
    }
}
.Profile {
    width: 100%;
    flex-direction: column;
    min-height: 100%;
    display: flex;
    background-color: whitesmoke;
    &__bg {
        width: 100%;
        background-image: url('../static/ProfileBg.png');
        background-position:center;
        background-size: cover;
        height: 300px;
        // filter: blur(2px);
    }
    &__input {
        padding: 5px 10px;
        background-color: #f0f0f0;
        font-size: 24px;
        width: 75%;
        border: none;
        border-radius: 15px;
    }
    &__user2 {
        display: flex;
    }
    &__user {
        align-self: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        max-width: 1000px;
        width: 100%;
        gap: 50px;
        &__avatar {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
        }
        &__ava {
            width: 100px;
            height: 100px;
            background-position: center center;
            background-repeat: no-repeat;
        }
        &__cont {
            padding: 10px;
            top: -50px;
            position: relative;
            background-color: white;
            border-radius: 50%;
            box-shadow: 0px 0px 10px 1px #0000003d;
        }
        &__about {
            display: flex;
            flex-direction: column;
            justify-content: center;
            p {
                margin: 0;
            }
            p:first-child {
                font-size: 24px;
                font-weight: bold;
            }
        }
        
    }
    &__change {
        display: flex;
        position: relative;
        align-items: center;
    }
    
}